/* Style.css */
body {
	font-family: Gisha;
}

.title {
	/*font-size: 36pt; */
	color: #9f3c25;
}

.info {
	font-size: 12pt;
	color: blue;
}

.uxButton {
	border-style: solid;
	border-color: #9fc020;
}